.notification-card {
  padding: 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.notification-card:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.notification-title {
  font-weight: 300;
  margin-bottom: 4px;
}

.notification-summary {
  font-size: 0.9rem;
  color: #666;
}

.notification-time {
  font-size: 0.7rem;
  color:#666;
}